<footer class="contato" id="contato">
  <a href="mailto:ssilva.bn@gmail.com" [@scrollAnimation]="state">
    <button class="btn-secondary btn--degrade">CONTACTO</button>
  </a>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item">
      <a href="https://github.com/marcsalou23"
        ><i class="fab fa-github fa-3x"></i
      ></a>
    </li>
    <li class="list__item">
      <a href="https://www.linkedin.com/in/marcavp23/"
        ><i class="fab fa-linkedin fa-3x"></i
      ></a>
    </li>

    <li class="list__item">
      <a href="mailto:marcavp23@gmail.com"
        ><i class="fab fa-google fa-3x"></i
      ></a>
    </li>
  </ul>
  &copy; Copyright 2023
</footer>
